<!DOCTYPE html>
<html>
<head>
  <title>Buggy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div class="header"></div>
		<div class="content"></div>
		<div class="footer"></div>
	</div>

<%= yield %>

</body>
</html>
